$bgColor: crimson;

.slogan {
    background-color: $bgColor;
    background-image: url(../../asset/image/Nikon.svg);
    // background-image: url(../../asset/image/kouji.jpg);
    background-repeat: no-repeat;
    padding: 1rem;
}

.logo > img {
    width: 300px;
}
